:root {
    --mdc-theme-primary: #d0623f;
}

*, html {
    margin: 0;
    padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.toolbar-link {
    color: rgba(255,255,255,0.7);
    padding: 24px;
    text-decoration: none;
}

.toolbar-link:hover {
    color: rgba(255,255,255,1.0);
}

.mdc-card__primary.flexed {
    display: flex;
    justify-content: space-between;
}
.mdc-card__actions.reversed {
    flex-direction: row-reverse;
}

.full {
	width: 100%;
	height: 100%;
}

.panel-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*
	background: linear-gradient(
      rgba(192,192,192, 0.3),
      rgba(192,192,192, 0.3)
    ), url(../imgs/banner.jpg);
    */
    background-image: url(../imgs/banner-1.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.center {
	border: 0px white solid;
}

.back-panel {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top:0;bottom:0;left:0;right:0;
	z-index: -1;
}

#toolbar-icon {
	font-size: 3.5em;
}

#but-1:hover {
	cursor: pointer;
}

#banner-text {
	padding-left: 10%;
	color: white;
	font-size: 8em;
}

#banner-text h1 {
	margin-top: 0;
}

#switch {
	position: absolute;
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	bottom: 5%;
}

#switch img {
	height: 100%;
	width: auto;
}

#switch img:hover {
	cursor: pointer;
}

#content {
    margin-top: 64px;
    max-width: 800px;
}

.toolbar-link {
    color: rgba(255,255,255,0.7);
    padding: 24px;
    text-decoration: none;
}

.toolbar-link:hover {
    color: rgba(255,255,255,1.0);
}

.mdc-card__primary.flexed {
    display: flex;
    justify-content: space-between;
}
.mdc-card__actions.reversed {
    flex-direction: row-reverse;
}
.mdc-card {
    margin: 50px 0 50px 0;
}
.edit-button {
    color: rgba(125,125,125,0.7);
}
.edit-button:hover {
    color: rgba(125,125,125,1.0);
}

.panel {
    display: none;
}
.panel.active {
    display: block;
}

.mdc-text-field__input {
    padding: 10px;
}
